@import "tailwindcss";
@source "../components/**/*.html";
@source "../*.html";
@theme {
  --color-brand: #1D2B53;
  --color-brand-dark: #192A56;

  --color-red: #EB0000;
  --color-red-dark: #D40100;
  --color-red-deep: #7F0006;

  --color-purple: #6C2BF4;
  --color-purple-dark: #4B2C87;

  --color-teal: #00FFD8;
  --color-green: #00523E;
  --color-lime: #9CED00;
  --color-orange: #FF6E3F;

  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
  --radius-6xl: 3rem;
}

   .no-scroll::-webkit-scrollbar{display:none}
  .no-scroll{scrollbar-width:none;-ms-overflow-style:none}
  .clamp-2{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
  .hero-dot.active{width:22px!important;background:#fff!important}
  .mobile-dot.active{width:20px!important;background:#FF6E3F!important}
  .group-tab-btn.active{background:#fff!important;color:#EB0000!important}
